

body{
    background-image: url(w.fifa);
    align-items: top;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: 100%;
}

img{
    width: 550px;
}

.card1{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.911);
    border-radius: 12px;
    margin: 50px;
    width: 650px;
    border-style: solid;
}
.card2{
    background-color:  rgba(255, 255, 255, 0.911);
    text-align: center;
    border-radius: 12px;
    margin: 50px;
    width: 650px;
    border-style: solid;
}
